@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  padding: 1rem;
  color: rgb(var(--foreground-rgb));
}

/* Default green progress bar */
.progressbar-container {
  width: 100%;
  height: 20px;
  background-color: #ccc;
}

.light-green .progressbar {
  height: 100%;
  background-color: #0cdd13;
}

/* Yellow progress bar */
.yellow .progressbar {
  height: 100%;
  background-color: #ffeb3b;
}

/* Red progress bar */
.red .progressbar {
  height: 100%;
  background-color: #f44336;
}

.header-container {
  display: flex;
  flex-direction: row;
}